body {
    background-color: #3A3A3A;
}

.items-actions {
    padding-bottom: 10px;
    width: 100%;
}

.groups {
    padding-bottom: 20px;
}

.list-group-item {
    padding-right: 5px;
    padding-left: 5px;
}

.paginator {
    float: right;
    padding-bottom: 20px;
    padding-right: 0px;
}

a.list-group-item.active-group {
    background-color: #A2CAEC;
    border-color: #A2CAEC;
}

tbody tr:hover {
    background-color: #EEE8AA;
}

tbody tr:hover td {
    background-color: transparent;
}

.table {
    background-color: #fff;
}

.form-control.ticket-text {
    width: 100%;
    margin-bottom: 10px;
    resize: vertical;
}

label.checkbox {
    margin-left: 5px;
    font-weight: normal;
}

#loading-spin {
    min-height: 400px;
}

.navbar-right {
    margin-right: 0px;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 65px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin #username {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin #password {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
