body {
    background-color: #3A3A3A;
}

.items-actions {
    padding-bottom: 10px;
    width: 100%;
}

.projects {
    padding-bottom: 20px;
}

.list-group-item {
    padding-right: 5px;
    padding-left: 5px;
}

.paginator {
    float: right;
    padding-bottom: 20px;
    padding-right: 0px;
}

a.list-group-item.active-group {
    background-color: #A2CAEC;
    border-color: #A2CAEC;
}

tbody tr:hover {
    background-color: #EEE8AA;
}

tbody tr:hover td {
    background-color: transparent;
}

.table {
    background-color: #fff;
}

.form-control.ticket-text {
    width: 100%;
    margin-bottom: 10px;
    resize: vertical;
}

label.checkbox {
    margin-left: 5px;
    font-weight: normal;
}

#loading-spin {
    min-height: 400px;
}

.navbar-right {
    margin-right: 0px;
}