<div>
    <div class="modal-header">
        <h3 class="modal-title">Create attachment</h3>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
              <label>Select files</label>
              <div type="button" class="btn btn-default" ngf-select ng-model="input.files" ngf-multiple="true">Select</div>
              <div ngf-drop ngf-select ng-model="input.files" class="drop-box" 
                ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true">Drop files here
              </div>
              <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
              <ul>
                <li ng-repeat="f in input.files" style="font:smaller">{{f.name}}</li>
              </ul>
            </div>
            <div class="form-inline">
              <label>Enter comment for attachment</label>
              <input type="text" class="form-control" placeholder="Enter comment" ng-model="input.comment">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">
            OK
        </button>
        <button class="btn btn-warning" ng-click="cancel()">
            Cancel
        </button>
    </div>
</div>
