<div>
    <div class="modal-header">
        <h3 class="modal-title">Deleting group</h3>
    </div>
    <div class="modal-body">
        <p>You are trying to delete group: <b>{{groupName}}</b></p>
        <p ng-hide="!projectsCount">With {{ projectsCount }} tasks</p>
        <p>Are you sure?</p>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="ok()">
            OK
        </button>
        <button class="btn btn-warning" ng-click="cancel()">
            Cancel
        </button>
    </div>
</div>