<div>
    <div class="modal-header">
        <h3 class="modal-title">Deleting tasks</h3>
    </div>
    <div class="modal-body">
        <p>You are trying to delete selected tasks({{selectedTasks.length}})</p>
        <p>Are you sure?</p>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="ok()">
            OK
        </button>
        <button class="btn btn-warning" ng-click="cancel()">
            Cancel
        </button>
    </div>
</div>
