<div>
    <div class="modal-header">
        <h3 class="modal-title">Moving tasks</h3>
    </div>
    <div class="modal-body">
        <p>
            You are trying to move selected tasks({{numSelected}})
        </p>
        <form>
            <label>Select Group:</label>
            <select class="form-control" ng-options="group.name for group in groups"
             ng-model="input.selectedOption"></select>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">
            OK
        </button>
        <button class="btn btn-warning" ng-click="cancel()">
            Cancel
        </button>
    </div>
</div>
