<div class="container-fluid">
    <div class="row">
        <div ng-controller="TasksDetailsController" class="col-md-12">
            <div class="panel panel-default">
                <table class="table table-bordered">
                    <thead>
                        <th>#</th>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Updated</th>
                        <th>Created</th>
                        <th>Created By</th>
                        <th>Assigned</th>
                    </thead>
                    <tbody>
                        <td>{{task.id}}</td>
                        <td>{{task.title}}</td>
                        <td>{{task.status_text}}</td>
                        <td>{{task.updated | datetz}}</td>
                        <td>{{task.created | datetz}}</td>
                        <td>{{task.creator_username}}</td>
                        <td>{{task.assigned_username}}</td>
                    </tbody>
                </table>
            </div>
            <div class="panel panel-default">
                <textarea class="form-control" rows="3" ng-model="task.text"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-controller="TimesListController" class="col-md-6">
            <div class="btn-group items-actions">
              <button type="button" class="btn btn-default" ng-click="addTime()">
                <span class="glyphicon glyphicon-plus"></span> Add Time
              </button>
              <button type="button" class="btn btn-default" ng-click="startTime()">
                <span class="glyphicon glyphicon-play"></span> Start Time
              </button>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle"
                 ng-disabled="selectedTimes.length == 0" data-toggle="dropdown">
                  Selected Times
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="" ng-click="deleteTimes()">
                  <span class="glyphicon glyphicon-trash"></span> Delete Times
                  </a></li>
                </ul>
              </div>
            </div>
            <div class="panel panel-default">
                <table class="table table-bordered">
                    <thead>
                        <th width="1%">
                          <input type="checkbox" ng-click="selectAllTimes()">
                        </th>
                        <th>#</th>
                        <th>Start time</th>
                        <th>Stop time</th>
                        <th>User</th>
                        <th>Comment</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="time in times">
                            <td>
                              <input type="checkbox" ng-click="selectTime(time.id)" ng-model="time.selected">
                            </td>
                            <td>{{time.id}}</td>
                            <td>{{time.start | datetz}}</td>
                            <td ng-if="time.stop">{{time.stop | datetz}}</td>
                            <td ng-if="!time.stop">
                              <button type="button" class="btn btn-danger btn-xs" ng-click="stopTime(time.id, $index)">
                                <span class="glyphicon glyphicon-stop"></span> Stop Time
                              </button>
                            </td>
                            <td>{{time.user_text}}</td>
                            <td>{{time.comment}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div ng-controller="AttachmentsListController" class="col-md-6">
            <div class="btn-group items-actions">
              <button type="button" class="btn btn-default" ng-click="addAttachment()">
                <span class="glyphicon glyphicon-plus"></span> Add Attachment
              </button>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle"
                ng-disabled="selectedAttachments.length == 0" data-toggle="dropdown">
                  Selected Attachments
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="" ng-click="deleteAttachments()">
                  <span class="glyphicon glyphicon-trash"></span> Delete Attachments
                  </a></li>
                </ul>
              </div>
            </div>
            <div class="panel panel-default">
                <table class="table table-bordered">
                    <thead>
                        <th width="1%">
                          <input type="checkbox" ng-click="selectAllAttachments()">
                        </th>
                        <th>#</th>
                        <th>Files</th>
                        <th>Created</th>
                        <th>User</th>
                        <th>Comment</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="attachment in attachments">
                            <td>
                              <input type="checkbox" ng-click="selectAttachment(attachment.id)" ng-model="attachment.selected">
                            </td>
                            <td>{{attachment.id}}</td>
                            <td>
                                <p ng-repeat="file in attachment.files">
                                    <a href="/api/attachment/file/{{file.id}}">
                                        {{file.filename}}
                                    </a>
                                </p>
                            </td>
                            <td>{{attachment.created | datetz}}</td>
                            <td>{{attachment.user_text}}</td>
                            <td>{{attachment.comment}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
