<div>
    <div class="modal-header">
        <h3 class="modal-title">Change tasks status</h3>
    </div>
    <div class="modal-body">
        <p>
            You are trying to change status for selected tasks({{selectedTasks.length}})
        </p>
        <form>
          <div class="form-group">
            <label>New Status</label>
            <select class="form-control" ng-options="status.name for status in statuses"
            ng-model="input.selectedOption"></select>
          </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-enter="ok();" ng-click="ok()">
            Save
        </button>
        <button class="btn btn-warning" ng-click="cancel()">
            Cancel
        </button>
    </div>
</div>