<!DOCTYPE html>

<html lang="en" ng-app="app">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/app-client.min.css" />
    <script type="text/javascript" src="static/js/app-client.min.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="navbar navbar-default navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" href="#/">Taskman</a></li>
                </ul>
                <div class="nav navbar-right">
                    <a href="/logout" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                    <a href="#" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-cog"></span> Settings</a>
                </div>
            </div>
        </div>
    </div>
    <div ng-view class="view-frame"></div>
</body>

</html>
